.vscode/launch.json
accounts/__pycache__/__init__.cpython-39.pyc
accounts/__pycache__/admin.cpython-39.pyc
accounts/__pycache__/apps.cpython-39.pyc
accounts/__pycache__/forms.cpython-39.pyc
accounts/__pycache__/models.cpython-39.pyc
accounts/__pycache__/passtests.cpython-39.pyc
accounts/__pycache__/urls.cpython-39.pyc
accounts/__pycache__/views.cpython-39.pyc
accounts/migrations/__pycache__/__init__.cpython-39.pyc
accounts/migrations/__pycache__/0001_initial.cpython-39.pyc
accounts/migrations/__pycache__/0002_alter_student_current_class.cpython-39.pyc
accounts/migrations/__pycache__/0003_alter_class_year.cpython-39.pyc
accounts/migrations/__pycache__/0004_alter_student_classrooms.cpython-39.pyc
accounts/migrations/__pycache__/0005_alter_classroom_code.cpython-39.pyc
accounts/migrations/__pycache__/0006_auto_20220319_0130.cpython-39.pyc
accounts/migrations/__pycache__/0007_auto_20220402_1009.cpython-39.pyc
accounts/migrations/__pycache__/0008_alter_resource_title.cpython-39.pyc
accounts/migrations/__pycache__/0009_alter_assignmentsubmission_file.cpython-39.pyc
accounts/migrations/__init__.py
accounts/migrations/0001_initial.py
accounts/migrations/0002_alter_student_current_class.py
accounts/migrations/0003_alter_class_year.py
accounts/migrations/0004_alter_student_classrooms.py
accounts/migrations/0005_alter_classroom_code.py
accounts/migrations/0006_auto_20220319_0130.py
accounts/migrations/0007_auto_20220402_1009.py
accounts/migrations/0008_alter_resource_title.py
accounts/migrations/0009_alter_assignmentsubmission_file.py
media/files/assignment_submission/55zrrva4/chapter-1-asasa/assignment-1/st1/pdf/qa-question-bankpdf/qa-question-bank.pdf
media/files/assignment_submission/55zrrva4/chapter-1-asasa/assignment-1/st1/svg/digitourssvg/digitours.svg
media/files/assignment_submission/pmnz4czl/virtual-machines-cloud-computing/exp-1/rishim/pdf/generated-1pdf/generated-1_JYTiAGf.pdf
media/files/assignment_submission/pmnz4czl/virtual-machines-cloud-computing/exp-1/rishim/pdf/generated-1pdf/generated-1.pdf
media/files/assignment_submission/yhy76bt9/ip-1-ip/assip1/st1/pdf/assignment-front-page-mc-ass-1-n-2pdf/assignment-front-page-mc-ass-1-n-2_DgqOZpC.pdf
media/files/assignment_submission/yhy76bt9/ip-1-ip/assip1/st1/pdf/assignment-front-page-mc-ass-1-n-2pdf/assignment-front-page-mc-ass-1-n-2_mzt8neC.pdf
media/files/assignment_submission/yhy76bt9/ip-1-ip/assip1/st1/pdf/assignment-front-page-mc-ass-1-n-2pdf/assignment-front-page-mc-ass-1-n-2.pdf
media/files/assignment_submission/yhy76bt9/ip-1-ip/assip1/st1/pdf/scan-2022-04-01-1107pdf/scan-2022-04-01-1107_xeHfnRb.pdf
media/files/assignment_submission/yhy76bt9/ip-1-ip/assip1/st1/pdf/scan-2022-04-01-1107pdf/scan-2022-04-01-1107.pdf
media/files/assignment_submission/yhy76bt9/ip-1-ip/assip1/st1/png/screenshot-2022-04-11-at-10-00-57-absolute-loaderpng/screenshot-2022-04-11-at-10-00-57-absolute-loader.png
media/files/assignment_submission/yhy76bt9/ip-1-ip/new-assignment-2/st1/pdf/system-programming-and-compiler-construction-spccpdf/system-programming-and-compiler-construction-spcc_8cYNChI.pdf
media/files/assignment_submission/yhy76bt9/ip-1-ip/new-assignment-2/st1/pdf/system-programming-and-compiler-construction-spccpdf/system-programming-and-compiler-construction-spcc.pdf
media/files/assignment_submission/yhy76bt9/ip-1-ip/new-assignment-2/st1/png/screenshot-2022-04-11-at-10-00-57-absolute-loaderpng/screenshot-2022-04-11-at-10-00-57-absolute-loader_RqDjqxg.png
media/files/assignment_submission/yhy76bt9/ip-1-ip/new-assignment-2/st1/png/screenshot-2022-04-11-at-10-00-57-absolute-loaderpng/screenshot-2022-04-11-at-10-00-57-absolute-loader.png
media/files/assignments/55zrrva4/chapter-1-asasa/assignment-1/2022-04-02-0912031605740000/docx/expt-7docx/expt-7.docx
media/files/assignments/55zrrva4/chapter-1-asasa/assignment1/2022-04-02-0617203783230000/docx/expt-7docx/expt-7.docx
media/files/assignments/55zrrva4/chapter-1-asasa/assignment1/2022-04-02-0618074343560000/docx/expt-7docx/expt-7.docx
media/files/assignments/55zrrva4/chapter-1-asasa/assignment2/2022-04-02-0618581688390000/pptx/team-meraki-sih-1-1pptx/team-meraki-sih-1-1.pptx
media/files/assignments/55zrrva4/chapter-1-asasa/assignment2/2022-04-21-1123373444610000/pdf/generated-1pdf/generated-1.pdf
media/files/assignments/pmnz4czl/virtual-machines-cloud-computing/exp-1/2022-04-21-1336347187860000/conf/de6a1_ch_wgconf/de6a1_ch_wg.conf
media/files/assignments/yhy76bt9/ip-1-ip/new-assignment-2/2022-04-05-1805032091080000/png/2022-04-02_19-25-07-935-msedge_ucws2urw5kpng/2022-04-02_19-25-07-935-msedge_ucws2urw5k.png
media/files/resources/55zrrva4/chapter-1-asasa/res1/2022-03-30-1824265869670000/json/widget_statejson/json.json
media/files/resources/55zrrva4/chapter-1-asasa/res1/2022-03-30-1824265869670000/pdf/studentpdf.pdf
media/files/resources/55zrrva4/chapter-1-asasa/res1/2022-04-01-1855123282940000/docx/css_lab_manualdocx/css_lab_manualdocx.docx
media/files/resources/55zrrva4/chapter-1-asasa/res2/2022-03-30-1824462272620000/pdf/gopalakrishnan2017pdf/gopalakrishnan2017pdf.pdf
media/files/resources/55zrrva4/chapter-1-asasa/res2/2022-03-30-1824462272620000/png/workflowpng/png.png
media/files/resources/55zrrva4/chapter-1-asasa/res2/2022-03-30-1824462272620000/pptx/team-meraki-sihpptx/pptx.pptx
media/files/resources/55zrrva4/chapter-1-asasa/resource-3/2022-04-01-1906412724830000/pdf/rishi_mule_resumepdf/rishi_mule_resume.pdf
media/files/resources/55zrrva4/chapter-1-asasa/resource-book/2022-04-02-0742252706380000/pdf/hr_employee_attrition_analysis1pdf/hr_employee_attrition_analysis1.pdf
media/files/resources/55zrrva4/section-3-asasa/pdf/2022-04-02-0915185818980000/docx/css_lab_manualdocx/css_lab_manual.docx
media/files/resources/pmnz4czl/virtual-machines-cloud-computing/software-links/2022-04-21-1335299711850000/pdf/generated-1pdf/generated-1.pdf
media/files/resources/yhy76bt9/ip-1-ip/resource-no-1/2022-04-05-1541339433010000/png/2022-03-28_10-17-21-044-chrome_umjivy9tgmpng/2022-03-28_10-17-21-044-chrome_umjivy9tgm.png
mylms/__pycache__/__init__.cpython-39.pyc
mylms/__pycache__/settings.cpython-39.pyc
mylms/__pycache__/urls.cpython-39.pyc
mylms/__pycache__/views.cpython-39.pyc
mylms/__pycache__/wsgi.cpython-39.pyc
students/__pycache__/__init__.cpython-39.pyc
students/__pycache__/admin.cpython-39.pyc
students/__pycache__/apps.cpython-39.pyc
students/__pycache__/forms.cpython-39.pyc
students/__pycache__/models.cpython-39.pyc
students/__pycache__/urls.cpython-39.pyc
students/__pycache__/views.cpython-39.pyc
students/migrations/__init__.py
students/migrations/__pycache__/__init__.cpython-39.pyc
teachers/migrations/__init__.py
teachers/migrations/__pycache__/__init__.cpython-39.pyc
teachers/__pycache__/__init__.cpython-39.pyc
teachers/__pycache__/admin.cpython-39.pyc
teachers/__pycache__/apps.cpython-39.pyc
teachers/__pycache__/forms.cpython-39.pyc
teachers/__pycache__/models.cpython-39.pyc
teachers/__pycache__/urls.cpython-39.pyc
teachers/__pycache__/views.cpython-39.pyc
